# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dSYM/

# Build directories
build/

# Local data
data/dev/
tests/data/
tests/playground/**/test.db

# Generated databases and message files
*.db
*.message_data

# Common local binaries
server
PublichClient
ConsumeClient
Test_*
